@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
    transition: ease-in-out 1s;
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%)
    }
}

 .scroll::-webkit-scrollbar {
    display:block;
    @apply w-2;
    @apply bg-gray-100;
    @apply rounded-md;
 }

.scroll::-webkit-scrollbar-thumb {
    display: block;
    @apply bg-gray-300;
    @apply rounded-md;
}

.scroll::-webkit-scrollbar-track {
    display: none;
}

.scroll::-webkit-scrollbar-button {
    display: none
}

.field-content {
    field-sizing: content;
}

.progress {
    appearance: none;
    border: none;
    @apply bg-gray-400;
    @apply rounded-full;
    @apply h-3;
}

.progress::-webkit-progress-bar {
    @apply bg-gray-400;
    @apply rounded-full;
}

.progress-active::-webkit-progress-value {
    @apply bg-rate;
    @apply rounded-full;
}

.progress::-moz-progress-bar {
    @apply bg-gray-400;
    @apply rounded-full;
}
